{{template "header" .}}
<div class="px-6">
    <h1 class="py-4 text-4xl semibold tracking-tight">Contact page</h1>
    <p class="text-gray-800">
        To contact me email me at <a class="underline" href="mailto:bolatlobakbai@gmail.com">bolatlobakbai@gmail.com</a>. 
    </p>
</div>
{{template "footer" .}}